In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DataVisualization/rainfall in india 1901-2015.csv")
df = pd.DataFrame(df)
df.head()

In [ ]:
df = df.rename(columns = {'SUBDIVISION':'state', 'JAN': 'jan', 'FEB': 'feb', 'MAR': 'mar',
                       'APR': 'apr' , 'MAY': 'may', 'JUN': 'jun', 'JUL': 'jul', 'AUG': 'aug', 'SEP': 'sep', 'OCT': 'oct'
                      , 'NOV': 'nov', 'DEC': 'dec', 'ANNUAL': 'annual', 'YEAR': 'year'})
df.tail()

***I have changed the label of the rows as per my ease of operation***

In [ ]:
df.state.unique()

In [ ]:
len(df.state.unique())

***Unique values of the state are mentioned above***

In [ ]:
df.year.unique()

In [ ]:
len(df.year.unique())

In [ ]:
df_kon = df[df.state=='KONKAN & GOA']
df_kel = df[df.state=='KERALA']
#df_kel.head()
#df_kon.head()
#len(df_kon)
len(df_kel)

> ***I have created two specific data set one from KONKAN, and other for Kerla to process the data in further codes***

In [ ]:
plt.figure(figsize = (20,5))
sns.barplot(x='year', y= 'annual', data = df_kon)
plt.xticks(rotation = 90)
plt.title('KONKAN & GOA RAINFALL DATA FROM 1901-2015')
plt.show()

In [ ]:
plt.figure(figsize = (20,5))
sns.barplot(x='year', y= 'annual', data = df_kel)
plt.xticks(rotation = 90)
plt.title('KERALA RAINFALL DATA FROM 1901-2015')
plt.show()

In [ ]:
plt.figure(figsize=(25,15))
sns.lineplot(x = 'year', y= 'annual', hue = 'state', data = df)

In [ ]:
df_kon.groupby(['year'])['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'].sum().plot.line(figsize=(15,5))
plt.title('KONKAN & GOA')
df_kel.groupby(['year'])['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'].sum().plot.line(figsize=(15,5))
plt.title('KERALA')
plt.show()

***Above charts shows the rainfall data for two states ***

In [ ]:
plt.figure(figsize=(15,5))
df.groupby(['state','year'])['annual'].sum().sort_values(ascending=False).plot()
plt.xticks(rotation=90)

***I have used groupby function and sorted the values in ascending order to create rainfall data***

***From the below code result and the chart above you can see that Arunachal Pradesh had highest rainfall in 1948, Coastal Karnataka had higest rainfall in 1961***

In [ ]:
df.groupby(['state','year'])['annual'].sum().sort_values(ascending=False)

In [ ]:
plt.figure(figsize=(15,5))
df.groupby(['year'])['annual'].sum().sort_values(ascending=False).head(12).plot(kind='bar', color = 'b')
plt.ylabel('Yearly Rainfall')
plt.title('Yearly Rainfall Data')

**Above chart shows you that in last 115 years 1961 was the year which had highest rainfall**

In [ ]:
plt.figure(figsize=(15,5))
df.groupby(['year'])['annual'].sum().sort_values(ascending=True).tail(12).plot(kind='bar', color = 'c')
plt.ylabel('Yearly Rainfall')
plt.title('Yearly Rainfall Data')

***Above chart show that the year 1970 had lowest rainfall in last 115 years***

In [ ]:
plt.figure(figsize=(15,5))
df.groupby(['state'])['annual'].sum().sort_values(ascending=False).head(12).plot(kind='bar', color = 'g')
plt.ylabel('Total Rainfall')
plt.title('Total Rainfall Data')

***Above chart shows that Costal Karnataka has received highest rainfall in last 115 years***

In [ ]:
plt.figure(figsize=(15,5))
df.groupby(['state'])['annual'].sum().sort_values(ascending=True).tail(10).plot(kind='bar', color = 'b')

plt.ylabel('Total Rainfall')
plt.title('Total Rainfall Data')

***Above chart shows that UTTARAKHAND has received lowest rainfall in last 115 years (This is beacuse UTTARAKHAND has been carved from UP in the year 2000, hence insufficient data )***

In [ ]:
plt.figure(figsize=(10,5))
df[['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug',
       'sep', 'oct', 'nov', 'dec']].mean().plot(kind= 'bar')
plt.xlabel('Months')
plt.ylabel('Avg. Rainfall')
plt.title('Avg. Monthly Rainfall Data')
plt.show()

***Above bar graph shows the average rainfall received from Jan-Dec in last 115 years.***